@(title: String, auth: User)

@main(title) {

  @header.customer(title)

  @menu.index(auth)

  <div class="content__main">
    <div class="row center-xs">
      <div class="col col-sm-10 col-lg-6">
        <div class="content__inner">
          <div class="card">
            <div class="stepper-wrapper">
              <div class="stepper stepper--control stepper--active">
                <div class="stepper__step">
                  <i class="stepper__step__icon material-icons">check</i>
                  <span class="stepper__step__num">1</span>
                </div>
                <span class="stepper__text">@messages.at("checkProducts")</span>
              </div>
              <div class="stepper__content stepper__content--open">
                <div id="cart-product-list" class="cart-product-list">

                </div>
                <button class="button button--block-primary button--left" style="margin-right: 0.6rem">
                  @messages.at("next")
                </button>
              </div>

              <div class="stepper stepper--control">
                <div class="stepper__step">
                  <i class="stepper__step__icon material-icons">check</i>
                  <span class="stepper__step__num">2</span>
                </div>
                <span class="stepper__text">
                  @messages.at("details")
                </span>
              </div>
              <div class="stepper__content">
                <p>
                  @messages.at("enterYourDetails")
                </p>
                <form id="cart-details-form" class="form" autocomplete="off">
                  <div class="form__group form__group__label">
                    <div class="input">
                      <label class="input__label">
                        @messages.at("email")
                      </label>
                      @if(auth.userType != "anonymous") {
                        <input class="input__control" type="email" name="email" value="@auth.email" required />
                      } else {
                        <input class="input__control" type="email" name="email" required />
                      }
                    </div>
                  </div>
                  <div class="form__group form__group__label">
                    <div class="input">
                      <label class="input__label">
                        @messages.at("address")
                      </label>
                      <input class="input__control" type="text" name="address" required />
                    </div>
                  </div>
                  <div class="form__group form__group__label">
                    <div class="input">
                      <label class="input__label">
                        @messages.at("zipcode")
                      </label>
                      <input class="input__control" type="text" name="zipcode" required />
                    </div>
                  </div>
                  <div class="form__group form__group__label">
                    <div class="input">
                      <label class="input__label">
                        @messages.at("city")
                      </label>
                      <input class="input__control" type="text" name="city" required />
                    </div>
                  </div>
                  <div class="form__group form__group__label">
                    <div class="input">
                      <label class="input__label">
                        @messages.at("phone")
                      </label>
                      <input class="input__control" type="tel" name="tel" required />
                    </div>
                  </div>

                  <button class="button button--block-primary button--left" style="margin-right: 0.6rem" type="submit">
                   @messages.at("next")
                  </button>
                </form>
                <button class="button button--flat-primary button--left">
                 @messages.at("back")
                </button>
              </div>

              <div class="stepper stepper--control stepper--last">
                <div class="stepper__step">
                  <i class="stepper__step__icon material-icons">check</i>
                  <span class="stepper__step__num">3</span>
                </div>
                <span class="stepper__text">
                  @messages.at("checkout")
                </span>
              </div>
              <div class="stepper__content" succeed="@messages.at("orderSend")" error="@messages.at("error.oops")">
                <form id="cart-payment-form" class="form" autocomplete="off">
                  <div class="radiobuttons" style="margin-top: 0">
                    <div class="radiobutton">
                      <label>
                        <input class="radiobutton__control" name="payment_option" value="ideal" type="radio" required> iDeal
                        <span class="radiobutton__circle"></span>
                        <span class="radiobutton__circle-check"></span>
                      </label>
                    </div>
                    <div class="radiobutton">
                      <label>
                        <input class="radiobutton__control" name="payment_option" value="paypal" type="radio" required> PayPal
                        <span class="radiobutton__circle"></span>
                        <span class="radiobutton__circle-check"></span>
                      </label>
                    </div>
                  </div>
                  <button class="button button--block-primary button--left" style="margin-right: 0.6rem" type="submit">
                    @messages.at("next")
                  </button>
                </form>
                <button class="button button--flat-primary button--left">
                  @messages.at("back")
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

