@import models.Folder
@import java.util

@(title: String,
  form: DynamicForm,
  error: String,
  folder: Folder,
  auth: User,
  photos: List[Photo],
  productTypes : util.HashSet[String]
)

@main(title) {

  @header.index(title, auth, auth.email == folder.creator, folder)

  @menu.index(auth)

  <div class="content__main">
    <div class="grid grid__album" folder-id=@folder.id>

    @for(photo <- photos) {
      <figure>
        <a href="@routes.Assets.at(photo.url)" data-size=@(photo.width + "x" + photo.height)>
          <div class="photo" style="background-image: url(@routes.Assets.at(photo.url))";>
            @if(auth.email == folder.creator) {
              <a class="photo__clear" href="@routes.Folder.deletePhoto(folder.id, photo.url)">
                <i class="photo__clear__icon material-icons">clear</i>
              </a>
            }
            <div class="photo__watermark">
              <i class="photo__watermark__icon material-icons">photo</i>
            </div>
          </div>
        </a>
      </figure>
    }
    </div>
  </div>

  @partials._photoswipe()

  @remodal.photo_editor()

  @remodal.shopping_cart(productTypes)

  @remodal.folder_settings(form, folder, productTypes)

  @remodal.folder_share(form, folder)

  @remodal.folder_share_view(form, folder, auth)

  @remodal.folder_code(form, folder)
}
