@(title: String, auth: User)

@main(title) {

  @header.index(messages.at("gallery"), auth, false, null)

  @menu.index(auth)

  <div class="content__main">
    <div class="grid grid__folders">
      @for(folder <- auth.folders){
        <a href="@routes.Folder.getFolder(folder.id)">
          <div class="grid__item folder folder--default">
            <span>@folder.name</span>
          </div>
        </a>
      }
      @if(auth.folders.size() == 0) {
        @*<p>@messages.at("noAlbums")</p>*@
      }
    </div>
  </div>
}
