@(title: String, email: String)

@main(title) {

  @header.simple()

  <div class="content__main">
    <div class="row center-xs">
      <div class="col col-xs-12 col-sm-6 col-lg-4">
        <div class="content__inner">
          <div class="card">
            <div class="card__header">
              <div class="card__inner">
                <h1 class="card__heading">
                  @email
                </h1>
              </div>
            </div>
            <div class="card__inner margin-bottom-no">
              <img class="avatar" src="@routes.Assets.at("images/avatar.jpg")"/>
              <form class="form" method="post" action="@routes.Password.postPasswordRecovery" autocomplete="off">
                <div class="form__group form__group__label">
                  <div class="input">
                    <label class="input__label">
                      @messages.at("password")
                    </label>
                    <input class="input__control" type="text" name="password" required />
                    <input type="hidden" name="email" value="@email">
                  </div>
                </div>
                <div class="form__group">
                  <button class="button button--full button--block-primary">
                    @messages.at("password.recovery.submit")
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
