@(title: String, form: DynamicForm, error: String)

@main(title) {

  @header.simple()

  <div class="content__main">
    <div class="row center-xs">
      <div class="col col-xs-12 col-sm-6 col-lg-4">
        <div class="content__inner">
          <div class="card">
            <div class="card__header">
              <div class="card__inner">
                <h1 class="card__heading">
                  @messages.at("password.forgotten")
                </h1>
              </div>
            </div>
            <div class="card__inner margin-bottom-no">
              <img class="avatar" src="@routes.Assets.at("images/avatar.jpg")"/>
              <form class="form" method="post" action="@routes.Password.postPasswordForgotten" autocomplete="off">
                <div class="form__group form__group__label">
                  <div class="input">
                    <label class="input__label">
                      @messages.at("email")
                    </label>
                    <input class="input__control" type="text" name="email" value="@form.field("email").value()" required />
                    @if(error != null) {
                      <p class="error">@error</p>
                    }
                  </div>
                </div>
                <div class="form__group">
                  <button class="button button--full button--block-primary">
                    @messages.at("password.forgotten.submit")
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="clearfix">
            <a class="button button--flat-primary button--right" href="@routes.SignIn.getSignIn">
              @messages.at("back")
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
}
