@(title: String, form: DynamicForm, errors: Map[String, String])

@main(title) {

  @header.simple()

  <div class="content__main">
    <div class="row center-xs">
      <div class="col col-xs-12 col-sm-6 col-lg-4">
        <div class="content__inner">
          <div class="card">
            <div class="card__header">
              <div class="card__inner">
                <h1 class="card__heading">
                  @messages.at("signIn")
                </h1>
              </div>
            </div>
            <div class="card__inner margin-bottom-no">
              <img class="avatar" src="@routes.Assets.at("images/avatar.jpg")"/>
              <form class="form" method="post" action="@routes.SignIn.postSignIn()" autocomplete="off">
                <div class="form__group form__group__label">
                  <div class="input">
                    <label class="input__label">
                    @messages.at("email")
                    </label>
                    <input
                      id="sign-in-email"
                      class="input__control" type="email" name="email" value="@form.field("email").value()" />
                    @if(errors != null && errors.get("email") != null) {
                      <p class="error">@errors.get("email")</p>
                    }
                  </div>
                </div>
                <div class="form__group form__group__label">
                  <div class="input">
                    <label class="input__label">
                    @messages.at("password")
                    </label>
                    <input
                      id="sign-in-password"
                    class="input__control" type="password" name="password" value="@form.field("password").value()" />
                    @if(errors != null && errors.get("password") != null) {
                      <p class="error">@errors.get("password")</p>
                    }
                  </div>
                </div>
                <div class="divider divider--type-with-text">
                  <div class="divider__text">
                  @messages.at("or")
                  </div>
                </div>
                <div class="form__group form__group__label">
                  <div class="input">
                    <label class="input__label">
                    @messages.at("enterYourCode")
                    </label>
                    <input
                    id="sign-in-access-code"
                    class="input__control" type="text" name="accessCode" value="@form.field("accessCode").value()" />
                    @if(errors != null && errors.get("accessCode") != null) {
                      <p class="error">@errors.get("accessCode")</p>
                    }
                  </div>
                </div>
                <div class="form__group">
                  <button class="button button--full button--block-primary" type="submit">
                    @messages.at("signIn")
                  </button>
                </div>
                <div class="form__group">
                  <div class="checkbox">
                    <input
                      id="check-me" class="checkbox__control"
                      type="checkbox" name="remember" value="true" />
                    <label for="check-me">
                      <span></span>
                      <span class="checkbox__box"></span>
                      <span class="checkbox__icon"></span>
                        @messages.at("remember")
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="clearfix">
            <a class="button button--flat-primary button--left" href="@routes.Password.getPasswordForgotten">
              @messages.at("forgotten")
            </a>
            <a class="button button--flat-primary button--right" href="@routes.SignUp.getSignUp">
              @messages.at("iamnew")
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
}
