@(title: String, form: DynamicForm, errors: Map[String, String])

@main(title) {

  @header.simple()

  <div class="content__main">
    <div class="row center-xs">
      <div class="col col-xs-12 col-sm-6 col-lg-4">
        <div class="content__inner">
          <div class="card">
            <div class="card__header">
              <div class="card__inner">
                <h1 class="card__heading">
                  @messages.at("signUp")
                </h1>
              </div>
            </div>
            <div class="card__inner margin-bottom-no">
              <img class="avatar" src="@routes.Assets.at("images/avatar.jpg")"/>
              <form class="form" method="post" action="@routes.SignUp.postSignUp()" autocomplete="off" >
                <div class="form__group form__group__label">
                  <div class="input">
                    <label class="input__label">@messages.at("email")</label>
                    <input class="input__control" type="email" name="email" value="@form.field("email").value()" required />
                    @if(errors != null && errors.get("email") != null) {
                      <p class="error">@errors.get("email")</p>
                    }
                  </div>
                </div>
                <div class="form__group form__group__label">
                  <div class="input">
                    <label class="input__label">
                      @messages.at("password")
                    </label>
                    <input class="input__control" type="text" name="password" value="@form.field("password").value()" pattern=".{6,}" required title="Must be at least 6 characters" />
                    @if(errors != null && errors.get("password") != null) {
                      <p class="error">@errors.get("password")</p>
                    }
                  </div>
                </div>
                <div class="form__group">
                  <div class="radiobuttons">
                    @if(errors != null && errors.get("usertype") != null) {
                      <p class="error">@errors.get("usertype")</p>
                    } else {
                      <p>@messages.at("iam")</p>
                    }
                    <div class="radiobutton">
                      <label>
                        <input class="radiobutton__control" name="userType" type="radio" value="customer" required /> @messages.at("customer")
                        <span class="radiobutton__circle"></span>
                        <span class="radiobutton__circle-check"></span>
                      </label>
                    </div>
                    <div class="radiobutton">
                      <label>
                        <input class="radiobutton__control" name="userType" type="radio" value="photographer" required /> @messages.at("photographer")
                        <span class="radiobutton__circle"></span>
                        <span class="radiobutton__circle-check"></span>
                      </label>
                    </div>
                  </div>

                </div>
                <div class="form__group">
                  <button class="button button--full button--block-primary" type="submit">
                    @messages.at("signUp")
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="clearfix">
            <a class="button button--flat-primary button--right" href="@routes.SignIn.getSignIn">
              @messages.at("back")
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
}

