.button {
  position: relative;
  display: block;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.15),0 1px 3px 1px rgba(0,0,0,.15);
  cursor: pointer;
  padding: 0.4rem;
  text-align: center;
  line-height: 0.7rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  outline: none;
  font-weight: 600;
  //margin: 1.2rem 0;

  &--block-primary {
    color: white;
    background-color: $color-primary;
  }

  &--block-primary,
  &--block-primary:link,
  &--block-primary:hover,
  &--block-primary:active {
    color: white;
    background-color: $color-primary;
  }

  &--flat-primary,
  &--flat-primary:link,
  &--flat-primary:hover,
  &--flat-primary:active {
    background-color: transparent;
    box-shadow: none;
    color: $color-primary;
  }

  &--bottom {
    margin: 1.2rem 0;
  }

  &--full {
    width: 100%;
  }

  &--right {
    float: right;
  }

  &--left {
    float: left;
  }
}
