.cart-product-list {
  display: flex;
  flex-flow: column nowrap;


  &__item {
    position: relative;
    padding-left: .8rem;
    padding-right: .8rem;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1.2rem;
    cursor: pointer;

    &:hover {
      .cart-product-list__item__remove {
        display: block;
      }
    }

    &__img {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
    }

    &__details {
      margin-left: .8rem;
      float: left;
      flex-grow: 1;

      > * {
        margin-top: .4rem;
        margin-bottom: 0;
      }

      :last-child {
        font-size: .65rem;
        color: $color-opacity-3;
      }
    }

    &__price {
      margin-top: .4rem;
      margin-bottom: 0;

      font-size: .65rem;
      color: $color-opacity-3;
    }

    &__remove {
      position: absolute;
      background-color: transparent;
      display: none;
      right: 0;
      top: 0;
      z-index: 9999;

      &__icon {
        opacity: .3;
        color: white;
        background: black;
        border-radius: 2px;
      }
    }
  }

  &__total {
    margin-top: 0;
    margin-bottom: 1.2rem;
    text-align: right;
    margin-right: .8rem;
  }
}
