input[type=checkbox] {
  display:none;
}

.checkbox {
  display: flex;
  position: relative;

  &__control {
    display: none;

    &:checked ~ label .checkbox__box {
      opacity: 0;
      transform: scale(0) rotate(-180deg);
    }

    &:checked ~ label .checkbox__icon {
      opacity: 1;
      transform: scale(1) rotate(45deg);
    }
  }

  label {
    font-size: 0.7rem;
    font-weight: 600;
    cursor: pointer;
    padding-left: 1rem;

    span {
      display: block;
      position: absolute;
      left:0;
      transition-duration:0.3s;
      margin: 0;
    }
  }

  &__circle {
    left: -1rem !important;
    top: -0.65rem;
    height: 2.5rem;
    width: 2.5rem;
    z-index: -1;
    border-radius: 50%;
    animation: growCircle 0.3s ease;
  }

  &__box {
    border: 2px solid $color-opacity-3;
    height: 0.7rem;
    width: 0.7rem;
    z-index: 888;
    transition-delay:0.2s;
  }

  &__icon {
    left: 0.15rem !important;
    width: 0.3rem;
    height: 0.6rem;
    border: 2px solid $color-accent;
    border-top: none;
    border-left: none;
    opacity: 0;
    z-index: 888;
    transform: rotate(180deg);
    transition-delay: 0.3s;
  }

  @keyframes growCircle {
    0%, 100% { transform: scale(1); }
    70% { background: $color-accent-animation; transform: scale(0.5); }
  }
}



