.container {
  //background-color: white;

  &__header {
    padding: 0.8rem;
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 1px solid $color-opacity-1;
    text-align: left;
  }

  &__avatar {
    display: block;
    margin: 1.2rem auto;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
  }

  &__content {
    border-radius: 2px;
    overflow: auto;
  }

  &__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }

  &--center {
    margin: auto;
    max-width: 400px;
    min-width: 400px;

    @include media("<=412px") {
      width: auto;
      min-width: inherit;
      margin-left: 0.8rem;
      margin-right: 0.8rem;
    }
  }

  &--shadow {
    .container__content {
      box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0, 0, 0, .12),0 2px 4px rgba(0, 0, 0, .24);
    }
  }

  &--marging-top {
    margin-top: 5.2rem;
  }
}
