.folder {
  position: relative;
  margin-top: 48px;
  border-radius: 0 14px 14px 14px;
  cursor: pointer;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    padding: 2px 8px;
    margin: 0;
    border-radius: 15px;
    white-space: nowrap;
    color: white;
  }

  &:before {
    content: '';
    position: absolute;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
  }

  // big folder
  @include media(">=832px") {
    width: 264px;
    height: 183px;

    &.folder:before {
      top: -24px;
      left: 0;
      width: 96px;
      height: 24px;
      border-radius: 14px 0 0 0;
    }

    &.folder:after {
      top: -48px;
      left: 72px;
      border: 24px solid transparent;
    }
  }

  // medium folder
  @include media(">569px", "<832px") {
    width: 176px;
    height: 122px;

    &.folder:before {
      top: -16px;
      left: 0;
      width: 64px;
      height: 16px;
      border-radius: 10px 0 0 0;
    }

    &.folder:after {
      top: -32px;
      left: 48px;
      border: 16px solid transparent;
    }
  }

  @include media("<=569px") {
    width: 132px;
    height: 95.5px;

    &.folder:before {
      left: 0;
      top: -12px;
      width: 48px;
      height: 12px;
      border-radius: 6px 0 0 0;
    }

    &.folder:after {
      top:-24px;
      left: 36px;
      border: 12px solid transparent;
    }
  }

  // Available colors
  &--default {
    background-color: $color-folder-default;
    span { background-color: $color-folder-default-dark; }
    &:before { background-color: $color-folder-default-dark; }
    &:after { border-bottom-color: $color-folder-default-dark !important; }
  }

  &--primary {
    background-color: $color-folder-primary;
    span { background-color: $color-folder-primary-dark; }
    &:before { background-color: $color-folder-primary-dark; }
    &:after { border-bottom-color: $color-folder-primary-dark !important; }
  }

  &--secondary {
    background-color: $color-folder-secondary;
    span { background-color: $color-folder-secondary-dark; }
    &:before { background-color: $color-folder-secondary-dark; }
    &:after {  border-bottom-color: $color-folder-secondary-dark !important; }
  }

  &--tertiary {
    background-color: $color-folder-tertiary;
    span { background-color: $color-folder-tertiary-dark; }
    &:before { background-color: $color-folder-tertiary-dark; }
    &:after { border-bottom-color:  $color-folder-tertiary-dark !important; }
  }
}

