.form {
  margin: 1.2rem 0;

  &__group {
    margin: 1.2rem 0;

    &--inline {
      display: flex;
      flex-flow: row nowrap;

      label {
        font-size: 0.7rem;
        line-height: 0.7rem;
        margin: 0.6rem 0;
        display: block;
      }
    }

    &--space-between {
      justify-content: space-between;
    }

    &__label {
      margin: 1.8rem 0;
    }
  }
}
