.grid {
  //z-index: -1;
  margin: 0 auto;

  &__item {
    float: left;
  }

  &:after {
    clear: both;
    content: "";
    display: block;
  }

  &__album {
    background: #DDD;
    max-width: 1200px;

    @include media("<=1200px") { max-width: 1000px; }
    @include media("<=1000px") { max-width: 800px; }
    @include media("<=800px") { max-width: 600px; }
    @include media("<=600px") { max-width: 300px; }
  }

  &__folders {
    margin: 0 auto;
    max-width: 1116px;

    @include media("<1116px") { max-width: 832px; }
    @include media("<832px") { max-width: 569px; }
    @include media("<569px") { max-width: 436px; }
    @include media("<436px") { max-width: 284px; }
  }
}

.container {
  width: auto;
}

.row {
  //border: 1px solid red;
  margin: 0;
}

.col {
  padding-left: 16px !important;
  padding-right: 16px !important;
}


