.photo-editor {
  width: 640px !important;
  height: 480px !important;
  margin: auto !important;
  background-color: transparent !important;

  &__watermark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;

    &__icon {
      color: rgba(0, 0, 0, .25);
      font-size: 2rem;
      pointer-events: none;
    }
  }
}

.pesdk-react-editor {
  border-radius: 2px;
}
