.photo {
  width: 200px;
  height: 200px;

  overflow: hidden;
  background-size: cover;
  background-position: center;

  cursor: pointer;

  &:hover {
    .photo__clear {
      display: block;
    }
  }

  &__watermark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;

    &__icon {
      color: rgba(0, 0, 0, .25);
      font-size: 2rem;
      pointer-events: none;

      @include media("<=600px") { font-size: 1rem; }
    }
  }

  &__clear {
    position: absolute;
    background-color: transparent;
    display: none;
    right: .3rem;
    top: .3rem;
    z-index: 9999;

    &__icon {
      opacity: .5;
      color: white;
      background: black;
      border-radius: 2px;

      @include media("<=600px") { font-size: .75rem; }
    }
  }

  @include media("<=600px") {
    width: 75px;
    height: 75px;
  }

  &--wide {
    width: 400px;
    @include media("<=600px") { width: 150px; }
  }

  &--tall {
    height: 400px;
    @include media("<=600px") { height: 150px; }
  }
}
