.radiobuttons {
  display: block;
  margin: 1.2rem 0;
}

.radiobutton {
  display: flex;
  position: relative;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1rem;
  margin-top: 0.4rem;
  padding-bottom: 0.4rem;

  label {
    cursor: pointer;
    min-height: 0.7rem;
    padding-left: 1rem;
  }

  &__control {
    clip: rect(0, 0, 0, 0);
    margin-left: -1rem;
    position: absolute;

    &:focus ~ .radiobutton__circle {
      border-color: $color-opacity-4;
    }

    &:checked ~ .radiobutton__circle {
      border-color: $color-accent;
    }

    &:checked ~ .radiobutton__circle-check {
      transform: scale(0.45, 0.45);
    }

    &:checked ~ .radiobutton__circle-check:after {
      animation: circle-check 0.6s;
    }

    &:checked ~ .radiobutton__circle-check:before {
      opacity: 1;
    }
  }

  &__circle,
  &__circle-check{
    display: block;
    height: 0.7rem;
    position: absolute;
    top: 0.15rem;
    left: 0;
    width: 0.7rem;
    border-radius: 50%;
    margin: 0;
  }

  &__circle {
    border: 2px solid $color-opacity-3;
    transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__circle-check {
    background-color: transparent;
    transform: scale(0, 0);
    transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:after,
    &:before {
      background-color: $color-accent;
      border-radius: 50%;
      content: "";
      display: block;
      opacity: 0;
      position: absolute;
    }

    &:after {
      height: 3.5rem;
      top: -1.4rem;
      left: -1.4rem;
      width: 3.5rem;
    }

    &:before {
      height: 100%;
      -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      width: 100%;
    }
  }
}



