#snackbar {
  position: fixed;
  padding-right: 16px;
  padding-left: 16px;
  bottom: 24px;
  z-index: 99999;

  @include media("<768px") {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
  }
}

#snackbar__inner {
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  max-width: 100%;
  padding: 12px 16px;
  transform: translate(0, 200%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 0.7rem;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
}

#snackbar__inner:after,
#snackbar__inner:before {
  content: "";
  display: table;
  line-height: 0;
}

#snackbar__inner:after {
  clear: both;
}

#snackbar__inner.in {
  transform: translate(0, 0);
}
