.stepper-wrapper {
  overflow: auto;
}

.stepper-wrapper .stepper:after,
.stepper-wrapper .stepper:before {
  border-left: 1px solid #dadada;
  content: "";
  display: block;
  position: absolute;
  left: 34px;
}

.stepper-wrapper .stepper:after {
  top: 52px;
  bottom: 0;
}

.stepper-wrapper .stepper:before {
  height: 16px;
  top: 0;
}

.stepper-wrapper .stepper:first-child:before,
.stepper-wrapper .stepper:nth-child(5):after {
  display: none;
}

.stepper {
  display: flex;
  padding: 24px 24px;
  position: relative;

  &--control {
    //cursor: pointer;

    //&:hover,
    //&:focus {
    //  background-color: $color-opacity-0;
    //}
  }

  &--active {
    .stepper__step__num {
      color: white;
    }

    .stepper__step:before {
      background-color: $color-primary;
    }
  }

  &--done {
    .stepper__step__icon {
      display: inline-block;
    }

    .stepper__step__num {
      display: none;
    }

    .stepper__step:before {
      background-color: $color-primary;
    }
  }

  &--last {
    border-left: none;
  }

  &__step {
    font-size: 12px;
    font-weight: 300;
    height: 20px;
    line-height: 20px;
    position: relative;
    text-align: center;
    width: 20px;

    &:before {
      background-color: #9a9a9a;
      border-radius: 50%;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &__icon {
      color: white;
      display: none;
      position: relative;
      font-size: .7rem;
      font-weight: 600;
    }

    &__num {
      color: white;
      display: inline-block;
      position: relative;
      margin: 0;
      font-size: 0.6rem;
      font-weight: 300;
    }
  }

  &__text {
    padding-top: 3px;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 0 8px;
    position: relative;
  }
}

.stepper__content {
  text-align: left;
  border-left: 1px solid #dadada;
  margin-left: 34px;
  padding-right: 24px;
  padding-left: 18px;
  position: relative;
  overflow: hidden;

  opacity: 0;
  max-height: 0;
  transition: max-height 0.5s, opacity 1s;

  &:after,
  &:before {
    content: "";
    display: table;
    line-height: 0;
  }

  &:after {
    clear: both;
  }

  > :first-child {
    margin-top: 0 !important;
  }

  &:last-of-type {
    border-left: none;
    margin-bottom: 24px;

    button {
      margin-bottom: 0;
    }
  }

  &--open {
    opacity: 1;
    max-height: 1000px;
  }

  button {
    margin: 0 0 0.6rem 0;
  }
}
