.album {
  background: #DDD;
  max-width: 1200px;
  @include media("<=1200px") { max-width: 1000px; }
  @include media("<=1000px") { max-width: 800px; }
  @include media("<=800px") { max-width: 600px; }
  @include media("<=600px") { max-width: 300px; }
}
