.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: $color-opacity-2;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

  &--in {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s;
  }
}
