.card {
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0, 0, 0, .12),0 2px 4px rgba(0, 0, 0, .24);
  display: flex;
  flex-flow: column;
  margin: 1.2rem 0;
  background-color: white;
  border-radius: 2px;

  &__inner {
    margin: 1.2rem 0.8rem;
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 56px;
  }

  &__heading {
    font-size: 1rem;
  }

  &--shadow-romodal {
    box-shadow: 0 1px 30px rgba(0,0,0,.5);
  }
}
