.dropdown {
  margin-left: auto;
  display: flex;

  &__content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity .5s;
    position: absolute;
    top: 2.8rem;
    right: 0.8rem;
    background-color: white;
    border-radius: 2px 0 2px 2px;
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: 0 1px 0 $color-opacity-0, 0 0 3px $color-opacity-1, 0 1px 3px $color-opacity-1;

    ul {
      li {
        display: block;
        font-size: 0.7rem;

        .dropdown__input {
          margin: 0;
        }

        a {
          color: $color-font;
          display: flex;
          align-items: center;
          min-height: 2.4rem;
          padding: 0 0.8rem;
          position: relative;

          &:hover {
            background-color: $color-opacity-0;
          }
        }

        .material-icons {
          margin-right: 0.8rem;
        }
      }
    }

    &--open {
      visibility: visible;
      opacity: 1;
    }
  }
}
