.folders {
  margin: 0 auto;
  max-width: 1116px;

  @include media("<1116px") { max-width: 832px; }
  @include media("<832px") { max-width: 569px; }
  @include media("<569px") { max-width: 436px; }
  @include media("<436px") { max-width: 284px; }
}
