.grid {
  //z-index: -1;
  margin: 0 auto;

  &__item {
    float: left;
  }

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.container {
  width: auto;
}

.row {
  //border: 1px solid red;
  margin: 0;
}

.col {
  padding-left: 16px !important;
  padding-right: 16px !important;
}


