.header {
  background: $color-brand;
  box-shadow: 0 1px 10px $color-opacity-3;
  min-height: 2.8rem;
  color: white;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 .8em;

  &:first-child {
    padding: 0 -0.8rem;
  }

  &__logo {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0.8rem;
  }

  &__icon {
    cursor: pointer;

    &--right {
      margin-left: auto;
    }
  }
}
