
.image {
  width: 200px;
  height: 200px;

  overflow: hidden;
  background-size: cover;
  background-position: center;

  &:hover {
    .image__clear {
      display: block;
    }
  }

  &__clear {
    position: absolute;
    background-color: transparent;
    display: none;
    right: .3rem;
    top: .3rem;
    z-index: 9999;

    &__icon {
      opacity: .3;
      color: white;
      background: black;
      border-radius: 2px;
    }
  }

  @include media("<=600px") {
    width: 75px;
    height: 75px;
  }

  &--wide {
    width: 400px;
    @include media("<=600px") { width: 150px; }
  }

  &--tall {
    height: 400px;
    @include media("<=600px") { height: 150px; }
  }
}
