.input {
  position: relative;
  visibility: hidden;

  &--floating {
    .input__label {
      transform: scale(0.85714, 0.85714) translateY(-1.35rem);
    }
  }

  &--focus {
    .input__label {
      color: $color-accent;
    }

    .input__control {
      border-bottom-width: 2px;
      padding-bottom: 6px;
      border-color: $color-accent;
    }
  }

  &__label {
    pointer-events: none;
    background-color: transparent;
    color: $color-opacity-2;
    cursor: text;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1;
    position: absolute;
    top: 11px;
    left: 0;
    transform-origin: 0 0;
    transition-duration: .3s;
    white-space: nowrap;
  }

  &__control {
    border: 0;
    border-bottom: 1px solid $color-opacity-1;
    display: block;
    height: 36px;
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 8px 0 7px;
    width: 100%;

    &--currency {
      padding-left: 12px;
    }
  }

  &__error {
    font-size: 0.7rem;
    color: red;
  }

  &__currency-symbol {
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 0.7rem;
    margin: 0;
  }

  &--hidden-control {
    margin: 0;

    .input__control {
      display: none !important;
    }
  }
}




