.menu {
  padding: 0.4rem 0;
  height: 100%;
  width: 16rem;
  max-width: calc(100% - 3.2rem);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: white;

  transform: translateX(-16rem);
  transition: transform 0.3s;

  &--in {
    transform: translateX(0);
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: -0.4rem 0 0.4rem;
    padding: 0 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    min-height: 2.8rem;
    border-bottom: 1px solid $color-divider;
  }

  &__nav {
    font-size: 0.7rem;
    font-weight: 600 !important;
  }
}
