.nav {
  font-weight: 500;

  &__item {
    display: block;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: 2.4rem;
      padding: 0 0.8rem;
      position: relative;


      &:hover {
        background-color: $color-opacity-0;
      }
    }
  }

  &__sub,
  &__sub__sub {
    li {
      a {
        font-weight: 400;
      }
    }
  }

  &__sub {
    li {
      a {
        padding-left: 1.6rem;
      }
    }
  }

  &__sub__sub {
    li {
      a {
        padding-left: 3.2rem;
      }
    }
  }
}

