

.pswp__button {

  &__icon {
    color: white;
    display: block;
    margin: auto;
    font-size: 1rem !important;
  }

  &__notification {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    font-size: 0.6rem;
    color: white;
    left: -60px;
    white-space: nowrap;

    &--show {
      visibility: visible;
      opacity: 1;
    }
  }

  &--zoom {
    right: 44px;
  }

  &--cart {
    cursor: pointer;
    position: absolute;
    right: 88px;
    z-index: 9999;
    vertical-align: middle;
    text-align: center;
    padding: 13px;

    &.pswp__button {
      background: transparent !important;
    }
  }
}
