.remodal-overlay {
  background-color: $color-opacity-2;
}
.remodal-wrapper {
  padding: 0;
}

.remodal-close {
  left: auto;
  right: 0;
  z-index: 99999;
}

.remodal {
  padding: 0;
  box-shadow: 0 1px 30px rgba(0,0,0,.5);
  border-radius: 2px;
  width: 448px;

  @include media("<448px") {
    width: calc(100% - 1.6rem);
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  &__header,
  &__inner {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  &__form {
    margin: 0;
  }

  &__heading {
    margin-top: 0;
    font-size: 1rem;
    line-height: 1rem;
  }

  &__footer {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  &__button {
    margin-bottom: 0.6rem;
    margin-left: 0.6rem;
  }

}
