.selection {
  //visibility: hidden;
  position: relative;
  margin: 1.8rem 0;

  &--floating {
    .selection__label {
      transform: scale(0.85714, 0.85714) translateY(-1.35rem);
    }
  }

  &--focus {
    .selection__label,
    .selection__icon {
      color: $color-accent;
      transition-duration: 0.3s !important;
    }

    .selection__control {
      border-bottom-width: 2px;
      padding-bottom: 6px;
      border-color: $color-accent;
    }
  }

  &--show-options {
    .selection__options__wrapper {
      visibility: visible;
      opacity: 1;
    }
  }

  &--disabled {
    visibility: visible;
    // empty (only used in remodal.js)
  }

  &__label {
    pointer-events: none;
    background-color: transparent;
    color: $color-opacity-2;
    cursor: text;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1;
    position: absolute;
    top: 11px;
    left: 0;
    transform-origin: 0 0;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
  }

  &__control {
    cursor: pointer;
    text-align: left;
    border: 0;
    border-bottom: 1px solid $color-opacity-1;
    display: block;
    height: 36px;
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 8px 0 7px;
    width: 100%;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 8px;
    color: $color-opacity-2;
    cursor: pointer;
  }

  &__options__wrapper {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity .5s;
    z-index: 9999;
    background: white;
    position: fixed;
    width: calc(100% - 2.4rem);
    left: 0;
    display: inline-block;
    border-radius: 2px;
    //box-shadow: 0 1px 0 $color-opacity-0, 0 0 3px $color-opacity-1, 0 1px 3px $color-opacity-1;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
    max-height: 150px;
    overflow: auto;
    font-size: 0.7rem;
    margin: 0 1.2rem;
  }

  &__option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.4rem;
    cursor: pointer;
    padding: 0 0.8rem;

    &:hover {
      background-color: $color-opacity-0;
    }
  }

}
