@(headerTitle: String)

<div id="header" class="header">
  <div id="menu-trigger" class="header__menu-trigger">
    <i class="material-icons header__icon waves-icon">menu</i>
  </div>
  <span class="header__logo">@headerTitle</span>
</div>
