@import models.Folder

@(headerTitle: String, showDropDown: Boolean, folder: Folder)

<div id="header" class="header">
  <div id="menu-trigger" class="header__menu-trigger">
    <i class="material-icons header__icon waves-icon">menu</i>
  </div>
  <span class="header__logo">@headerTitle</span>
  @if(showDropDown) {
    <div class="dropdown">
      <div class="dropdown-trigger">
        <i class="material-icons header__icon waves-icon">more_horiz</i>
      </div>
      <div class="dropdown__content">
        <ul>
          <li>
            <div class="input input--hidden-control">
              <form method="post" action="@routes.Folder.postPhoto(folder.id)" enctype='multipart/form-data'>
                <input class="input__control" type="file" name="pictures" multiple accept='image/*'/>
                <a class="input__trigger">
                  <i class="material-icons">add_to_photos</i> @messages.at("addPhoto")
                </a>
              </form>
            </div>
          </li>
          <li>
            <a data-remodal-target="remodal-folder-settings">
              <i class="material-icons">settings</i> @messages.at("folderSettings")
            </a>
          </li>
          <li>
            <div class="input input--hidden-control">
              <form method="post" action="@routes.Folder.deleteFolder(folder.id)">
                <input class="input__control" type="submit"/>
                <a class="input__trigger">
                  <i class="material-icons">delete</i> @messages.at("deleteFolder")
                </a>
              </form>
            </div>
          </li>
          <li>
            <a data-remodal-target="remodal-folder-share">
              <i class="material-icons">share</i> @messages.at("shareFolder")
            </a>
          </li>
          <li>
            <a data-remodal-target="remodal-folder-share-view">
              <i class="material-icons">group</i> @messages.at("sharedWith")
            </a>
          </li>
          <li>
            <a data-remodal-target="remodal-folder-code">
              <i class="material-icons">vpn_key</i> @messages.at("generateCode")
            </a>
          </li>
        </ul>
      </div>
    </div>
  }
</div>
