@import models.Folder

@(form: DynamicForm, folder: Folder)

<div class="remodal" data-remodal-id="remodal-folder-share" data-remodal-options='{ "hashTracking": false }'>
  <div class="remodal__header">
    <h1 class="remodal__heading">
      @messages.at("shareAlbum")
    </h1>
  </div>
  <div class="remodal__inner margin-no">
    <form class="form remodal__form" method="post" action="@routes.Folder.postFolderShare(folder.id)" autocomplete="off">
      <div class="form__group form__group__label">
        <div class="input">
          <label class="input__label">@messages.at("email")</label>
          <input class="input__control" type="email" name="email" required />
        </div>
      </div>
      <div class="form__group margin-no clearfix">
        <button class="remodal__button button button--right button--flat-primary" type="submit">
          @messages.at("share")
        </button>
      </div>
    </form>
  </div>
</div>
