@import models.Folder

@(form: DynamicForm, folder: Folder)

<div class="remodal"
  data-remodal-id="remodal-folder-code"
  data-remodal-options='{ "hashTracking": false }'
  error="@messages.at("error.oops")"
  folder-id=@folder.id>
  <div class="remodal__header">
    <h1 class="remodal__heading">
      @messages.at("generateCode")
    </h1>
  </div>
  <div class="remodal__inner">
    <div class="form remodal__form">
      <div class="form__group margin-no clearfix">
        <p>
          @messages.at("accessCode"):
          <span
            style="
              float: right;
              font-weight: 500;
              display: inline;
              margin: 0;
              font-size: .8rem"
            id="generated-code"></span>
        </p>
      </div>
    </div>
  </div>
</div>
