@import models.Folder

@(form: DynamicForm, folder: Folder, authUser: User)

<div class="remodal" data-remodal-id="remodal-folder-share-view" data-remodal-options='{ "hashTracking": false }'>
  <div class="remodal__header">
    <h1 class="remodal__heading">
      @messages.at("sharedWith")
    </h1>
  </div>
  <div class="remodal__inner">
    <div class="form remodal__form">
      <div class="form__group form__group--inline form__group--space-between margin-no">
        <label>@authUser.email</label>
        <label>@messages.at("owner")</label>
      </div>
      @for(folderAccess <- folder.folderAccess) {
        @if(!folderAccess.userEmail.equals(authUser.email)) {
          <div class="form__group form__group--inline form__group--space-between margin-no">
            <label>@folderAccess.userEmail</label>
            <a href="@routes.Folder.deleteFolderShare(folder.id, folderAccess.userEmail)">
              <i class="material-icons waves-icon">delete</i>
            </a>
          </div>
        }
      }
      @for(accessCode <- folder.accessCodes) {
        <div class="form__group form__group--inline form__group--space-between margin-no">
          <label>@accessCode.accessCode</label>
          <a href="@routes.AccessCode.deleteAccessCode(folder.id, accessCode.id)">
            <i class="material-icons waves-icon">delete</i>
          </a>
        </div>
      }
    </div>
  </div>
</div>
