@import models.Folder
@import java.util

@(form: DynamicForm, folder: Folder, productTypes : util.HashSet[String])

<div class="remodal" data-remodal-id="remodal-folder-settings" data-remodal-options='{ "hashTracking": false }'>
  <div class="remodal__header">
    <h1 class="remodal__heading">
      @messages.at("folderSettings")
    </h1>
  </div>
  <div class="remodal__inner margin-no">
    <form class="form remodal__form" method="post" action="@routes.Folder.postFolderSettings(folder.id)" autocomplete="off">
      <div class="form__group form__group__label">
        <div class="input">
          <label class="input__label">@messages.at("folderTitle")</label>
          <input class="input__control" type="text" name="name" value="@folder.name" required />
        </div>
      </div>
      <div class="form__group form__group__label">
        <div class="input">
          <label class="input__label">@messages.at("pricePerPhoto")</label>
          <span class="input__currency-symbol">€</span>
          <input
            class="input__control input__control--currency"
            type="number" value="@folder.price" min="0.01" step="0.01"
            name="price" required />
        </div>
      </div>
      <div class="form__group">
        <div class="radiobuttons">
          <p>@messages.at("productChoice")</p>
          @for(productType <- productTypes) {
            <div class="radiobutton">
              <label>
                <input class="radiobutton__control" name="productType" type="checkbox" value=@productType> @productType
                <span class="radiobutton__circle"></span>
                <span class="radiobutton__circle-check"></span>
              </label>
            </div>
          }
        </div>
      </div>
      <div class="form__group margin-no clearfix">
        <button class="remodal__button button button--right button--flat-primary" type="submit">
          @messages.at("save")
        </button>
      </div>
    </form>
  </div>
</div>
