<div class="remodal photo-editor" data-remodal-id="remodal-photo-editor" data-remodal-options='{ "hashTracking": false }'>
  <button data-remodal-action="close" class="remodal-close"></button>

  <div class="photo-editor__watermark">
    <i class="photo-editor__watermark__icon material-icons">photo</i>
  </div>

  <div id="photo-editor" class="photo-editor"></div>
</div>
