@import java.util

@(productTypes : util.HashSet[String])

<div class="remodal shopping-cart" data-remodal-id="remodal-shopping-cart" data-remodal-options='{ "hashTracking": false }'
  succeed="@messages.at("addedToCart")" error="@messages.at("error.oops")">
  <div class="remodal__header">
    <h1 class="remodal__heading">
      @messages.at("addToCart")
    </h1>
  </div>
  <div class="remodal__inner margin-no">
    <div class="form remodal__form">
      <div id="selection-product-type" class="selection">
        <label class="selection__label">Product</label>
        <i class="selection__icon material-icons">arrow_drop_down</i>
        <span class="selection__control"></span>
        <ul class="selection__options__wrapper">
        @for(productType <- productTypes) {
          <li class="selection__option">@productType</li>
        }
        </ul>
      </div>
      <div class="form__group margin-no clearfix">
        <span class="shopping-cart__currency" style="padding-right: 0">€</span>
        <span class="shopping-cart__price" style="padding-left: 0"></span>
        <button
          class="remodal__button button button--right button--flat-primary shopping-cart__add"
          text="Toevoegd aan winkelwagen">
          @messages.at("add")
        </button>
        <button class="remodal__button button button--right button--flat-primary shopping-cart__edit">
          @messages.at("edit")
        </button>
      </div>
    </div>
  </div>
</div>
