@import java.text.DecimalFormat
@import java.text.DecimalFormatSymbols
@(title: String, orders: List[Orderr], formatter: DecimalFormat)

@main(messages.at("orders")) {

  @header.admin(messages.at("orders"));

  @menu.admin()

  <div class="content__main">
    <div class="grid grid__album">

    @for(order <- orders) {
      <br/>
      <h3>@messages.at("order") @order.id</h3>
      <p>@order.customer<br/>@order.address <br/>@order.zipcode @order.city<br/>@order.phonenumber</p>
      <h4>@messages.at("products")</h4><br/>
        @for(orderline <- order.orderlines) {
          <img src="@routes.Assets.at(orderline.photourl)" style="width:45px; height:45px;";/>

          <p>@orderline.product - @orderline.options.replaceAll(", $", "") - €@formatter.format(orderline.price)</p>
        }

      <br/><h4>@messages.at("totalPrice")</h4>
      <p>€@formatter.format(order.totalprice)</p>

      <form method="post" action="@routes.Admin.setProcessed(order.id)">
      @if(order.processed.equals(0)){
        <p><input type="checkbox" style="display: inline;" name="processedOrder@order.id" onclick="this.form.submit();" value="processed"> @messages.at("processed")</p>
      }else{
        <p><input type="checkbox" style="display: inline;" name="processedOrder@order.id" onclick="this.form.submit();" value="notProcessed" checked> @messages.at("processed")</p>
      }
      </form>
      <br/>
    }
    </div>
  </div>
}
