@(title: String, photos: List[Photo])

@main(title) {

  @header.admin(title);

  @menu.admin()

  <div class="content__main">
    <div class="grid grid__album">

    @for(photo <- photos) {
      <figure>
        <a href="@routes.Assets.at(photo.url)" data-size=@(photo.width + "x" + photo.height)>
          <div class="photo" style="background-image: url(@routes.Assets.at(photo.url))";>
            <a class="photo__clear" href="@routes.Admin.deletePhoto(photo.url)">
              <i class="photo__clear__icon material-icons">clear</i>
            </a>
            <div class="photo__watermark">
              <i class="photo__watermark__icon material-icons">photo</i>
            </div>
          </div>
        </a>
      </figure>
    }
    </div>
  </div>

  @admin._photoswipe()
}
