@import java.text.DecimalFormat
@import java.text.DecimalFormatSymbols
@(title: String, form: DynamicForm, products: List[models.Product], lang: String, formatter: DecimalFormat)

@main(title) {

  @header.admin(title);

  @menu.admin()

<div class="content__main">
  <div class="grid" style="max-width:1200px;">
    @for(product <- products) {
      @if(lang.equals(product.language)) {
        <form class="form" method="post" action="@routes.Admin.changePriceAndStock(product.code)" autocomplete="off">
          <h5>@product.toString().substring(0, product.toString().indexOf(product.price.toString()))</h5>
          <p style="padding-bottom:10px">€<input type="number" name="price@product.code" value="@product.price" min="0" max="9999" step="0.01" style="width:70px;" required/> -
              <input type="number" name="stock@product.code" value="@product.stock" min="0" max="99999" step="1" style="width:70px;" required/> @messages.at("inStock")
              <button class="button button--block-primary" style="display:inline; margin-left:30px;">
                Update
              </button>
          </p>
        </form>
      }
    }
  </div>
</div>
}
