.text--center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.margin-top-no {
  margin-top: 0 !important;
}

.margin-bottom-no {
  margin-bottom: 0 !important;
}

.margin-no {
  margin: 0 !important;
}

.inline {
  display: flex;
  flex-flow: row nowrap;
}

.space-between {
  justify-content: space-between;
}

