$color-brand: #3f51b5;
$color-font: #212121;
$color-divider: #dadada;

$color-opacity-0: rgba(0, 0, 0, 0.06);
$color-opacity-1: rgba(0, 0, 0, 0.12);
$color-opacity-2: rgba(0, 0, 0, 0.38);
$color-opacity-3: rgba(0, 0, 0, 0.54);
$color-opacity-4: rgba(0, 0, 0, 0.87);

$color-primary: #3f51b5;
$color-accent: rgb(255, 65, 129);
$color-accent-animation: rgba(255, 65, 129, 0.2);

$color-folder-default: #829aa8;
$color-folder-default-dark: #687F8C;

$color-folder-primary: #FF7F92;
$color-folder-primary-dark: #FF5E6E;

$color-folder-secondary: #23CBF4;
$color-folder-secondary-dark: #06BAEE;

$color-folder-tertiary: #FFBD00;
$color-folder-tertiary-dark: #F1A402;
