<div id="menu" class="menu">
  <h1 class="menu__logo">
    @messages.at("appTitle")
  </h1>
  <ul class="nav menu__nav">
    <li class="nav__item">
      <a href="@routes.Admin.getProducts()">
        @messages.at("products")
      </a>
    </li>
    <li class="nav__item">
      <a href="@routes.Admin.getPhotos()">
        @messages.at("photos")
      </a>
    </li>
    <li class="nav__item">
      <a href="@routes.Admin.getOrders()">
        @messages.at("orders")
      </a>
    </li>
    <li class="nav__item">
      <a href="#settings-language" class="collapsed" data-toggle="collapse">
        @messages.at("language")
      </a>
      <ul class="nav nav__sub__sub collapse" id="settings-language">
        <li class="nav__item">
          <a href="@routes.Index.setLanguage("nl")">
          @messages.at("language.nl")
          </a>
        </li>
        <li class="nav__item">
          <a href="@routes.Index.setLanguage("en")">
          @messages.at("language.en")
          </a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <a href="@routes.SignOut.signOut">
        @messages.at("signOut")
      </a>
    </li>
  </ul>
</div>
