<div id="menu" class="menu">
  <h1 class="menu__logo">
    @messages.at("appTitle")
  </h1>
  <ul class="nav menu__nav">
    <li class="nav__item">
      <a href="#gallery" class="collapsed" data-toggle="collapse">
        @messages.at("gallery")
      </a>
      <ul class="nav nav__sub collapse" id="gallery">
        <li class="nav__item">
          <a href="@routes.Index.getIndex">
            @messages.at("viewAlbums")
          </a>
        </li>
        <li class="nav__item">
          <a href="@routes.Folder.getNewFolder">
            @messages.at("newAlbumTitle")
          </a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <a href="#settings" class="collapsed" data-toggle="collapse">
        @messages.at("settings")
      </a>
      <ul class="nav nav__sub collapse" id="settings">
        <li class="nav__item">
          <a href="#settings-language" class="collapsed" data-toggle="collapse">
            @messages.at("language")
          </a>
          <ul class="nav nav__sub__sub collapse" id="settings-language">
            <li class="nav__item">
              <a href="@routes.Index.setLanguage("nl")">
                @messages.at("language.nl")
              </a>
            </li>
            <li class="nav__item">
              <a href="@routes.Index.setLanguage("en")">
                @messages.at("language.en")
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <a href="@routes.SignOut.signOut">
        @messages.at("signOut")
      </a>
    </li>
  </ul>
</div>
